.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.section__about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.19);
    height: 400px;
    width: 100%;
    background-color: rgb(247, 215, 176);
}

.main__header {
    background-color:  rgb(247, 215, 176);
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    border: 1px solid rgb(247, 215, 176);
    border-radius: 30% 25% 30% 25%;
    box-shadow: 0px 20px 30px -15px #564941;
    margin: 50px;
}

.section__about--paragraphs {
    display: grid;
    grid-template-rows: repeat(3, 110px);
}

.section__about--paragraph {
    font-size: 19px;
    border-bottom: 1px solid black;
}

.section__map {
    width: 600px;
    height: 400px;
    
}

.map {
    width: 600px;
}

.paragraph__description {
    color: #5d401e;
}


@media(max-width: 767px) {
    .section__about {
        flex-direction: column;
        height: 600px;
        width: 100%;
        align-items: center;
    }

    .section__about--paragraphs {
        
        grid-template-rows: repeat(3, 75px);
    }

    .section__about--paragraph {
        margin-bottom: 0px;
        font-size: 15px;
    }

    .section__map {
        width: 250px;
        height:300px;
    }

    .map {
        margin-top: 18px;
        width: 250px;
        height: 300px;
    }

}