.section__form {
    background-image: url(../image/table.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
   
}

.form__header {
    color: white;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    padding-top: 20px;
}

.section__form--dark {
    background-color: rgba(0, 0, 0, 0.465);
    height: 700px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.form__label {
    font-size: 20px;
    margin: 15px;
}

.input {
    background-color: rgba(255, 255, 255, 0.63);
    width: 800px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 15px;
   
}

.input__area {
    background-color: rgba(255, 255, 255, 0.63);
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 15px;
    
    margin-bottom: 30px;
}

@media(max-width:767px) {
    .input {
      
       width: 300px;
    }
    .input__area {
        width: 300px;
    }
}

.input__number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form__button {
    width: 30%;
    height: 40px;
    margin: auto;
   background-color: rgba(255, 255, 255, 0.335) ;
   font-size: 20px;
   color: white;
   border: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 15px;
    transition: 300ms;
}

.form__button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.732);
    border: 1px solid rgba(255, 255, 255, 0.732);
}


