.header {
    background-image: url("../image/8.jpg");
    background-size: cover;
}
@media(max-width:767px) {
    .header {
        height: 1000px;
        width: 100%;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.465);
    height: 750px;
}

.navigation__component {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
   margin-top: 20px;
   margin-bottom: 200px;
}

.navigation__link {
    color: white;
    text-decoration: none;
    transition: 500ms;
    font-family: 'Playfair Display', sans-serif;
}

@media(max-width:767px) {
    .navigation__component {
        flex-direction: column;
    }
    .navigation__link {
        margin: 10px;
    }
}



.navigation__link:hover {
    transform: scale(1.1);
    border-bottom: 1px solid rgb(199, 194, 194);
}

.navigation__paragraph {
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
    transition: 700ms;
}

.navigation__paragraph:hover {
    transform: scale(1.1);
    border-bottom: 1px solid rgb(199, 194, 194);
    border-top: 1px solid rgb(199, 194, 194);
}