.header {
    width: 100%;
    background-image: url("https://scontent-waw1-1.xx.fbcdn.net/v/t39.30808-6/342822344_219760100664932_4538244899026061650_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=VcskFqFoK_gAX-i6vio&_nc_ht=scontent-waw1-1.xx&oh=00_AfA0OlN5hTIz8Dxpsx22kFWfg7qFwt-78cfnub9q3ShJrg&oe=64A1C52E");
    background-size: cover;
    background-position: top;
    
}

@media(max-width:767px) {
    .header {
        height: 800px;
        width: 100%;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.465);
    height: 700px;
}

.navigation__component {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation__menu {
    height: 100px;
    display: flex;
    align-items: center;
}

.navigation__link {
    color: white;
    text-decoration: none;
    transition: 500ms;
    font-family: 'Playfair Display', sans-serif;
}

.navigation__link:hover {
    transform: scale(1.1);
    border-bottom: 1px solid rgb(199, 194, 194);
}


.navigation__paragraph {
    height: 600px;
}


.component__paragraph {
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
    transition: 700ms;
}

.component__paragraph:hover {
    transform: scale(1.1);
    border-bottom: 1px solid rgb(199, 194, 194);
    border-top: 1px solid rgb(199, 194, 194);
}

@media(max-width:767px) {
.navigation {
    height: 800px;
}

    .navigation__component {
        flex-direction: column;
    }

    .navigation__menu {
        height: 450px;
    }

    .navigation__paragraph {
        height: 350px;
    }

    .component__paragraph {
        margin-bottom: 20px;
    }
}