.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    height: 405px;
    background-color: rgb(247, 215, 176);
}

.section__image {
    height: 300px;
}

.section__paragraph {
    margin: 10px;
}