.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid grey;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    height: 405px;
    background-color: rgb(247, 215, 176);
}

.section__image {
    height: 300px;
    /* box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.section__paragraph {
    margin: 10px;
    font-size: 20px;
}