.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(248, 225, 198);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 7px 22px 0 rgba(0, 0, 0, 0.21);
    width: 1000px;
    height: 40px;
    margin: 20px;
    
}

.navigation__item:link {
    color: black;
}

.navigation__item:visited {
    color: black;
}

.navigation__item:hover {
    color: rgb(8, 8, 141);
}

.navigation__item:active {
    color: red;
}