html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', sans-serif;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
    padding-top: 0;
    background-color: bisque;
    
}

@media(max-width: 1200px) {
    .body {
        width: 95%;
    }
}