html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Playfair Display',sans-serif ;
    background-color: bisque;
}

@media(max-width:767px) {
    body {
        width: 520px;
        margin: auto;
    }
}



